@model Opportunity
@{
    var account = (Account)ViewBag.Account;
    var accounts = (IEnumerable<Account>)ViewBag.Accounts;

}
<div class="well">
    <div class="form-horizontal">

        @Html.ValidationSummary(true)

        <div class="form-group">

            @Html.LabelFor(model => model.AccountId, "Account", new { @class = "control-label col-sm-3" })

            <div class="col-sm-5">
                @Html.DropDownListFor(
                    model => model.AccountId,
                    new SelectList(accounts, "Id", "Name", account.Id),
                    new { @class = "form-control selectpicker" }
                )
            </div>
            <div class="col-sm-4">
                @Html.ValidationMessageFor(model => model.AccountId, null, new { @class = "help-block text-danger" })
            </div>
        </div>

        @Html.EditorFor(m => m.Name)

    </div>
</div>





