@model Invoice
@{
    ViewBag.Title = Model.Name;
}

@Html.Partial("Breadcrumb", Model)

<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            @Html.Partial("ListGroup", FieldGroup.DisplayFor(Html, model => model.Margin))
            @Html.Partial("ListGroup", FieldGroup.DisplayFor(Html, model => model.Cost))
            @Html.Partial("ListGroup", FieldGroup.DisplayFor(Html, model => model.Revenue))
        </div>
    </div>

    <div class="col-md-4">
        <div class="list-group">
            @Html.Partial("ListGroup", FieldGroup.DisplayFor(Html, model => model.ProposalApproved))
            @Html.Partial("ListGroup", FieldGroup.DisplayFor(Html, model => model.SdnApproved))
            @Html.Partial("ListGroup", FieldGroup.DisplayFor(Html, model => model.InvoiceDate))
        </div>
    </div>

    <div class="col-md-4">
        <div class="list-group">
            @Html.Partial("ListGroup", FieldGroup.DisplayFor(Html, model => model.PONumber))
            @Html.Partial("ListGroup", FieldGroup.DisplayFor(Html, model => model.InvoiceNo))
            @Html.Partial("ListGroup", FieldGroup.DisplayFor(Html, model => model.Status))
        </div>
    </div>
</div>

@Html.Partial("WorkDone", Model.WorkDoneItems)

<div class="btn-group">
    <a class="btn btn-default" target="_blank" href="https://trueclarity4.crm4.dynamics.com/main.aspx?etc=10010&id={@Model.Id}&pagetype=entityrecord">
        <span class="visible-xs">CRM</span>
        <span class="hidden-xs">Open In CRM</span>
    </a>
</div>

<div class="btn-group pull-right">
    <a class="btn btn-default" href="@Url.Action("Edit", "WorkDone", new { id = Model.Id })">
        <span class="visible-xs">Work Done</span>
        <span class="hidden-xs">Edit Work Done</span>
    </a>
    <a class="btn btn-default" href="@Url.Action("Edit", new { id = Model.Id })">
        <span class="visible-xs">Invoice</span>
        <span class="hidden-xs">Edit Invoice</span>
    </a>
</div>
