@model IEnumerable<WorkDoneItem>
@{
    var account = (Account)ViewBag.Account;
    var opportunity = (Opportunity)ViewBag.Opportunity;
    var invoice = (Invoice)ViewBag.Invoice;
    ViewBag.Title = invoice.Name;
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("ActiveAccounts", "Organization")">True Clarity</a></li>
    <li>@Html.ActionLink(account.Name, "Invoices", "Account", new { id = account.Id }, null)</li>
    <li>@Html.ActionLink(opportunity.Name, "Invoices", "Opportunity", new { id = opportunity.Id }, null)</li>
</ol>

<h2>Summary</h2>

<div class="row">
    <div class="col-md-4">
        <table class="table">
            <tr>
                <td><strong>Margin</strong></td>
                <td class="currency">@CurrencyHelper.Format(invoice.Margin)</td>
            </tr>
            <tr>
                <td><strong>Cost</strong></td>
                <td class="currency">@CurrencyHelper.Format(invoice.Cost)</td>
            </tr>
            <tr>
                <td><strong>Revenue</strong></td>
                <td class="currency">@CurrencyHelper.Format(invoice.Revenue)</td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table class="table">
            <tr>
                <td><strong>Proposal Date</strong></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>SDN Date</strong></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Invoice Date</strong></td>
                <td>@DateTimeHelper.Format(invoice.InvoiceDate)</td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table class="table">
            <tr>
                <td><strong>PO No.</strong></td>
                <td>@invoice.PONumber</td>
            </tr>
            <tr>
                <td><strong>Inv. No.</strong></td>
                <td>@invoice.InvoiceNo</td>
            </tr>
        </table>
    </div>
</div>

<h2>Work Done</h2>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th class="currency">Margin</th>
            </tr>
        </thead>
        @foreach (var i in Model)
        {
            <tr>
                <td>@DateTimeHelper.Format(i.WorkDoneDate)</td>
                <td class="currency">@CurrencyHelper.Format(i.Margin)</td>
            </tr>
        }
        <tfoot>
            <tr>
                <td>Total</td>
                <td class="currency">@CurrencyHelper.Format(Model.Sum(i => i.Margin))</td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="btn-group">
    <a class="btn" target="_blank" href="https://trueclarity4.crm4.dynamics.com/main.aspx?etc=10010&id={@invoice.Id}&pagetype=entityrecord">Open in CRM</a>
</div>
