@model InvoiceReadViewModel

@Html.DisplayFor(Model => Model.Alerts)

<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            @Html.Partial("ListGroup", FieldGroup.DisplayFor(Html, model => model.Invoice.Margin))
            @Html.Partial("ListGroup", FieldGroup.DisplayFor(Html, model => model.Invoice.Cost))
            @Html.Partial("ListGroup", FieldGroup.DisplayFor(Html, model => model.Invoice.Revenue))
        </div>
    </div>

    <div class="col-md-4">
        <div class="list-group">
            @Html.Partial("ListGroup", FieldGroup.DisplayFor(Html, model => model.Invoice.ProposalApproved))
            @Html.Partial("ListGroup", FieldGroup.DisplayFor(Html, model => model.Invoice.SdnApproved))
            @Html.Partial("ListGroup", FieldGroup.DisplayFor(Html, model => model.Invoice.InvoiceDate))
        </div>
    </div>

    <div class="col-md-4">
        <div class="list-group">
            @Html.Partial("ListGroup", FieldGroup.DisplayFor(Html, model => model.Invoice.PONumber))
            @Html.Partial("ListGroup", FieldGroup.DisplayFor(Html, model => model.Invoice.InvoiceNo))
            @Html.Partial("ListGroup", FieldGroup.DisplayFor(Html, model => model.Invoice.Status))
        </div>
    </div>
</div>

@if (Model.Invoice.WorkDoneItems != null)
{
    @Html.Partial("WorkDone", Model.Invoice.WorkDoneItems)
}

<div class="btn-group">
    @Html.DisplayFor(m => m.OpenButton)
</div>

<div class="btn-group pull-right">
    @Html.DisplayFor(m => m.EditButton)
</div>
