@model InvoiceWriteViewModel

@Html.AntiForgeryToken()

@Html.ValidationSummary(true)

<h2>Invoice</h2>
<div class="well">
    <div class="form-horizontal">

        @Html.EditorFor(model => model.Invoice.OpportunityId, "Opportunity")
        @Html.EditorFor(model => model.Invoice.Name)
        @Html.EditorFor(model => model.Invoice.Revenue)
        @Html.EditorFor(model => model.Invoice.Cost)
        @Html.EditorFor(model => model.Invoice.ProposalApproved)
        @Html.EditorFor(model => model.Invoice.SdnApproved)
        @Html.EditorFor(model => model.Invoice.InvoiceDate)
        @Html.EditorFor(model => model.Invoice.PONumber)
        @Html.EditorFor(model => model.Invoice.InvoiceNo)
        @Html.EditorFor(model => model.Invoice.Status)

    </div>
</div>

@if (Model.Invoice.WorkDoneItems == null)
{
    <div class="alert alert-info">Invoices without Margin and an Invoice Date will not allow Work Done to be added against them.</div>
}
 else
{
    <h2>Work Done</h2>
    <div class="well">
        <div class="form-horizontal">

            @Html.EditorFor(model => model.Invoice.WorkDoneItems)

        </div>
    </div>
}





