@model Invoice

<div class="well">
    <div class="form-horizontal">

        @Html.ValidationSummary(true)

        @Html.EditorFor(m => m.OpportunityId, "Opportunity")
        @Html.EditorFor(m => m.Name)
        @Html.EditorFor(m => m.Revenue)
        @Html.EditorFor(m => m.Cost)
        @Html.EditorFor(m => m.ClientApprovedDate)
        @Html.EditorFor(m => m.InvoiceDate)
        @Html.EditorFor(m => m.PONumber)
        @Html.EditorFor(m => m.InvoiceNo)
        @Html.EditorFor(m => m.Status)

    </div>
</div>





