@model InvoiceWriteViewModel
<div class="well">
    <div class="form-horizontal">

        <!--Html.ValidationSummary(true)-->

        @Html.EditorFor(model => model.Invoice.OpportunityId, "Opportunity")
        @Html.EditorFor(model => model.Invoice.Name)
        @Html.EditorFor(model => model.Invoice.Revenue)
        @Html.EditorFor(model => model.Invoice.Cost)
        @Html.EditorFor(model => model.Invoice.ProposalApproved)
        @Html.EditorFor(model => model.Invoice.SdnApproved)
        @Html.EditorFor(model => model.Invoice.InvoiceDate)
        @Html.EditorFor(model => model.Invoice.PONumber)
        @Html.EditorFor(model => model.Invoice.InvoiceNo)
        @Html.EditorFor(model => model.Invoice.Status)

    </div>
</div>





