@{
    ViewBag.Title = "Augustus";
    var activeAccounts = (IEnumerable<Account>)ViewBag.ActiveAccounts;
    var newAccounts = (IEnumerable<Account>)ViewBag.NewAccounts;
}


<div class="row">
    <div class="col-sm-6">
        <h2>Active Accounts</h2>
        <div class="list-group">
            @foreach (var a in activeAccounts)
            {
                <a class="list-group-item" href="@Url.Action("Invoices", "Account", new { id = a.Id })">@a.Name</a>
            }
        </div>
    </div>
    <div class="col-sm-6">
        <h2>New Accounts</h2>
        <div class="list-group">
            @foreach (var a in newAccounts)
            {
                <a class="list-group-item" href="@Url.Action("Invoices", "Account", new { id = a.Id })">@a.Name</a>
            }
        </div>

    </div>
</div>

<p>You are logged in as @User.Identity.Name.</p>
