@model Account

@using (Html.BeginForm())
{
    //@Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="col-xs-2">
                @Html.LabelFor(a => a.Name, new { @class = "control-label" })
            </div>
            <div class="col-xs-6">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            <div class="col-xs-4">
                @Html.ValidationMessageFor(model => model.Name, null, new { @class = "help-block text-danger" })
            </div>
        </div>

        <div class="button-group">
                <input type="submit" value="@ViewBag.SubmitButton" class="btn btn-default" />
            <a href="@Url.Action("Index")" class="btn">Cancel</a>
        </div>
    </div>
}



