@model AccountReadViewModel

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="@Url.Action("Invoices", new { id = Model.Account.Id })">Invoices</a></li>
    <li role="presentation"><a href="@Url.Action("Opportunities", new { id = Model.Account.Id })">Opportunities</a></li>
</ul>

<div class="well-sm">
    @if (Model.Account.Invoices.Count() == 0)
    {
        <div class="well-sm">
            <div class="panel">No invoices</div>
        </div>
    }
    else
    {

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Opportunity</th>
                        <th>Name</th>
                        <th class="currency">Margin</th>
                        <th class="currency">Revenue</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model.Account.Invoices)
                    {
                        <tr>
                            <td>@DateTimeHelper.Format(i.InvoiceDate)</td>
                            <td>@Html.ActionLink(i.Opportunity.Name, "Invoices", "Opportunity", new { id = i.Opportunity.Id }, null)</td>
                            <td>@Html.ActionLink(i.Name, "Details", "Invoice", new { id = i.Id }, null)</td>
                            <td class="currency">@CurrencyHelper.Format(i.Margin)</td>
                            <td class="currency">@CurrencyHelper.Format(i.Revenue)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    }
</div>

<div class="btn-group"></div>
<div class="btn-group pull-right">
    <a class="btn btn-default" href="@Url.Action("Edit", "Account", new { id = Model.Account.Id })">Edit Account</a>
</div>
