@model Account
@{
    ViewBag.Title = Model.Name;
}

@Html.Partial("Breadcrumb")

<ul class="nav nav-tabs">
    <li role="presentation"><a href="@Url.Action("Invoices", new { id = Model.Id })">Invoices</a></li>
    <li role="presentation" class="active"><a href="@Url.Action("Opportunities", new { id = Model.Id })">Opportunities</a></li>
</ul>

@if (Model.Opportunities.Count() == 0)
{
    <div class="well-sm">
        <div class="panel">No opportunities.</div>
    </div>
}
else
{
    <div class="well-sm">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var i in Model.Opportunities)
                {
                    <tr>
                        <td>@Html.ActionLink((i.Name == null ? "Null" : i.Name), "Invoices", "Opportunity", new { id = i.Id }, null)</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}

    <div>
        <a class="btn btn-default" href="@Url.Action("Create", "Opportunity", new { id = Model.Id })">Create Opportunity</a>
        <a class="btn btn-default pull-right" href="@Url.Action("Edit", "Account", new { id = Model.Id })">Edit Account</a>
    </div>
