@model ISharedLayoutViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Augustus</a>
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("ActiveAccounts", "Organization")">Invoicing</a></li>
                        <li><a href="@Url.Action("Index", "Reporting")">Reporting</a></li>
                        <li><a href="@Url.Action("Errors", "Reporting")">Errors</a></li>
                        <li><a href="@Url.Action("Export", "Reporting")">Export</a></li>
                        <li><a href="@Url.Action("Index", "Vincente")">Vincente</a></li>
                    </ul>
                }

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">

        <div class="page-header">
            <h1>@Model.Title</h1>
        </div>

        @if (Model.Breadcrumb != null)
        {
            @Html.Partial("Breadcrumb", Model.Breadcrumb)
        }

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Augustus</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy'
            });
        });
    </script>
</body>
</html>
