@model MonthReportViewModel

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Account</th>
                <th class="currency">Invoice Total</th>
                <th class="currency">Work Not Done and Invoiced</th>
                <th class="currency">Work Done and Invoiced</th>
                <th class="currency">Work Done and Not Invoiced</th>
                <th class="currency">Work Done Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.Accounts)
            {
                <tr>
                    <td>@m.Account</td>
                    <td class="currency">@CurrencyHelper.Format(m.InvoiceTotal)</td>
                    <td class="currency">@CurrencyHelper.Format(m.WorkNotDoneAndInvoiced)</td>
                    <td class="currency">@CurrencyHelper.Format(m.WorkDoneAndInvoiced)</td>
                    <td class="currency">@CurrencyHelper.Format(m.WorkDoneAndNotInvoiced)</td>
                    <td class="currency">@CurrencyHelper.Format(m.WorkDoneTotal)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

